@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Open Sans', sans-serif;
    scroll-behavior: smooth;
}

.hero-text {
    letter-spacing: 10px;
}

.unna-style {
    font-family: 'Unna', serif;
}

.overlay-text {
    letter-spacing: 5px;
}

.blog-anchor {
    width: 270px;
}

.no-scrollbar::-webkit-scrollbar {
    display: none;
}

.no-scrollbar {
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.items-scrollbar::-webkit-scrollbar {
    width: 12px;
    height: 12px;
    background-color: transparent;
}

.items-scrollbar::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: #ccc;
}


