body {
  font-family: 'Open Sans', sans-serif;
  scroll-behavior: smooth;
}

.hero-text {
    letter-spacing: 10px;
}

.unna-style {
    font-family: 'Unna', serif;
}

.overlay-text {
    letter-spacing: 5px;
}

.blog-anchor {
    width: 270px;
}


